<html>
<head>
<meta charset="UTF-8">
<title>pyMonitor</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'monitoring/style.css' %}">
<script type="text/javascript" src="{% static 'monitoring/scripts.js' %}"> </script>
</head>
<body onload="startSingleHostWs();">

    <nav id="navbar" class="">
        <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
            <!-- Logo Placeholder for Inlustration -->
            <a href="/monitoring/"><i class="fa fa-angellist"></i> pyMonitor</a>
        </div>
    
        <!-- Navbar Links -->
        <ul id="menu">
            <li><a href="/monitoring/">Home</a></li><!--
        --><li><a href="/monitoring/status">Status Page</a></li><!--
        --><li><a href="/admin">Admin</a></li>
        </ul>
        </div>
    </nav>

    <h1 id = "h1"></h1>

    <table class="hostTable" id="hostTable">
        <thead>
            <tr>
                <td>HTTP</td>
                <td id = "latestHttpStatus"></td>
            </tr>
            <tr>
                <td>Ping</td>
                <td id = "latestPingStatus"></td>
            </tr>
            <tr>
                <td>Latency</td>
                <td id = "latestLatency"></td>
            </tr>
            <tr>
                <td>Last Ping Down</td>
                <td id = "lastPingDown"></td>
            </tr>
            <tr>
                <td>Last Checked</td>
                <td id = "lastChecked"></td>
            </tr>
            <tr>
                <td>Current Ping Down Count</td>
                <td id = "currentPingDownCount"></td>
            </tr>
            <tr>
                <td>Current HTTP Down Count</td>
                <td id = "currentHttpDownCount"></td>
            </tr>
            <tr>
                <td class = "spacing"></td>
                <td class = "spacing"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td id = "head"></td>
            </tr>
            <tr>
                <td>Group</td>
                <td id = "group"></td>
            </tr>
            <tr>
                <td>uuid</td>
                <td id = "uuid"></td>
            </tr>
            <tr>
                <td>Http Destination</td>
                <td id = "httpDestination"></td>
            </tr>
            <tr>
                <td>Ping Destination</td>
                <td id = "pingDestination"></td>
            </tr>    
            <tr>
                <td>Check Ping</td>
                <td id = "checkPing"></td>
            </tr>
            <tr>
                <td>Check HTTP</td>
                <td id = "checkHttp"></td>
            </tr>
            <tr>
                <td>Check SSL</td>
                <td id = "checkSSL"></td>
            </tr>
            <tr>
                <td>writeToDB</td>
                <td id = "writeToDB"></td>
            </tr>
            <tr>
                <td>Send When Pending</td>
                <td id = "sendWhenPending"></td>
            </tr>
            <tr>
                <td>Max Down Count</td>
                <td id = "maxDownCount"></td>
            </tr>
            <tr>
                <td>Timeout</td>
                <td id = "timeout"></td>
            </tr>           
        </thead>
        <tbody id="hostTableBody">

        </tbody>
    </table>

    <button onclick="editHost()" id="editHostButton">Edit</button>

    <form method="post" action="delete" id="deleteHostForm">{% csrf_token %}
        <button type="submit" id="deleteHostButton">Delete</button>
    </form>
<script>
    function editHost() {
        uuid = document.getElementById("uuid").innerHTML
        console.log("edit Host: "+uuid)
        location.href = '/monitoring/host-edit/'+uuid;
    }
</script>
</body>
</html>