<html>
<head>
<meta charset="UTF-8">
<title>pyMonitor</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'monitoring/style.css' %}">
<script type="text/javascript" src="{% static 'monitoring/scripts.js' %}"> </script>
</head>
<body onload="checkBoxes()">

    <nav id="navbar" class="">
        <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
            <!-- Logo Placeholder for Inlustration -->
            <a href="/monitoring/"><i class="fa fa-angellist"></i> pyMonitor</a>
        </div>
    
        <!-- Navbar Links -->
        <ul id="menu">
            <li><a href="/monitoring/">Home</a></li><!--
        --><li><a href="/monitoring/status">Status Page</a></li><!--
        --><li><a href="/admin">Admin</a></li>
        </ul>
        </div>
    </nav>

    <h1>{{ host.name }}</h1>

        <table class="hostTable" id="hostTable">
            <thead>
                <tr>
                    <td>HTTP</td>
                    <td> {{ host.latestHttpStatus }}</td>
                </tr>
                <tr>
                    <td>Ping</td>
                    <td> {{ host.latestPingStatus }}</td>
                </tr>
                <tr>
                    <td>Latency</td>
                    <td> {{ host.latestLatency }} ms</td>
                </tr>
                <tr>
                    <td>Last Ping Down</td>
                    <td>{{ host.lastPingDown }}</td>
                </tr>
                <tr>
                    <td>Last Checked</td>
                    <td> {{ host.lastChecked }}</td>
                </tr>
                <tr>
                    <td>Current Ping Down Count</td>
                    <td>{{ host.currentPingDownCount }} of {{ host.maxDownCount }}</td>
                </tr>
                <tr>
                    <td>Current HTTP Down Count</td>
                    <td> {{ host.currentHttpDownCount }} of {{ host.maxDownCount }}</td>
                </tr>
        <form action="/monitoring/host-edit-post" method="post">
            {% csrf_token %}
                <tr>
                    <td class =  "spacing" ></td>
                    <td class =  "spacing" ></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" id="name" name="name" value={{ host.name }}></td>
                </tr>
                <tr>
                    <td>Group</td>
                    <td>
                        <select id="group" name="group" class="dropdown">
                            <option>Default</option>
                            {% for hostGroup in hostGroups %}
                                {% if host.group == hostGroup %}
                                    <option selected>{{ hostGroup.name }}</option>
                                {% else %}
                                    <option>{{ hostGroup.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>uuid</td>
                    <td>{{ host.uuid }}</td>
                </tr>
                <tr>
                    <td>Check Ping</td>
                    <td>
                        <input class = "checkbox" type="checkbox" id="checkPing" name="checkPing" value="True" onclick="checkPING()" {% if host.checkPing %} checked {% endif %}></td>
                </tr>
                <tr>
                    <td>Ping Destination</td>
                    <td><input type="text" id="pingDestination" name="pingDestination" value={{ host.pingDestination }}></td>
                </tr>   
                <tr id="">
                    <td>Check HTTP</td>
                    <td><input type="checkbox" id="checkHttp" name="checkHttp" onclick="checkHTTP()" {% if host.checkHttp %} checked {% endif %}></td>
                </tr>
                <tr>
                    <td>Http Destination</td>
                    <td><input type="text" id="httpDestination" name="httpDestination" value={{ host.httpDestination }}></td>
                </tr>
                <tr>
                    <td>Check SSL</td>
                    <td><input type="checkbox" id="checkSSL" name="checkSSL" value="True"  {% if host.checkSSL %} checked {% endif %}></td>
                </tr>
                <tr>
                    <td>writeToDB</td>
                    <td><input type="checkbox" id="writeToDB" name="writeToDB" value="True"  {% if host.writeToDB %} checked {% endif %}></td>
                </tr>
                <tr>
                    <td>Notify Via Telegram</td>
                    <td><input type="checkbox" id="notifyTelegram" name="notifyTelegram" onclick="checkTelegram()" value="True"  {% if host.notifyTelegram %} checked {% endif %}></td>
                </tr>
                <tr>
                    <td>Telegram Name</td>
                    <td>
                        <select id="telegramName" name="telegramName" class="dropdown">
                            {% for telegramName in telegramNames %}
                                {% if host.telegramName == telegramName %}
                                    <option selected>{{ telegramName.name }}</option>
                                {% else %}
                                    <option>{{ telegramName.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Notify When Down</td>
                    <td><input type="checkbox" id="notifyWhenDown" name="notifyWhenDown" onclick = "checkNotifyLogic()" value="True" {% if host.notifyWhenDown %} checked {% endif %}></td>
                </tr>
                <tr>
                    <td>Notify When Pending</td>
                    <td><input type="checkbox" id="notifyWhenPending" name="notifyWhenPending" value="True" {% if host.notifyWhenPending %} checked {% endif %}></td>
                </tr>
                <tr>
                    <td>Max Down Count</td>
                    <td><input type="number" id="maxDownCount" name="maxDownCount" value={{ host.maxDownCount }}></td>
                </tr>
                <tr>
                    <td>Timeout</td>
                    <td><input type="number" id="timeout" name="timeout" value={{ host.timeout }}></td>
                </tr>           
            </thead>
        </table>
        <input type="submit" value="Submit"  id="submit" class = "submit">
    </form>
    <form method="post" action="delete" id="deleteHostForm">{% csrf_token %}
        <button type="submit" id="deleteHostButton" class="deleteHostButton">Delete</button>
    </form>   
</body>
<script>
    var uuid = window.location.pathname.split('/')[3];
    document.getElementById("deleteHostForm").action = "/monitoring/host-delete/"+uuid;

    function checkBoxes(){
        checkHTTP()
        checkPING()
        checkTelegram()
    }
    
    function checkHTTP() {
        var checkBox = document.getElementById("checkHttp");
        var destination = document.getElementById("httpDestination");
        var checkSSLBox = document.getElementById("checkSSL");
        if (checkBox.checked != false){
            destination.style.display = "block";
            checkSSLBox.style.display = "block";
        } else {
            destination.style.display = "none";
            checkSSLBox.style.display = "none";
        }
    }
    function checkPING() {
        var checkBox = document.getElementById("checkPing");
        var destination = document.getElementById("pingDestination");
        if (checkBox.checked != false){
            destination.style.display = "block";

        } else {
            destination.style.display = "none";
        }
    }
    function checkTelegram() {
        var notifyTelegram = document.getElementById("notifyTelegram");
        var telegramName = document.getElementById("telegramName");
        if (notifyTelegram.checked != false){
            telegramName.style.display = "table";
        } else {
            telegramName.style.display = "none";
        }
    }
    function checkNotifyLogic() {
        var notifyWhenPending = document.getElementById("notifyWhenPending");
        var notifyWhenDown = document.getElementById("notifyWhenDown");
        if (notifyWhenDown.checked != false){
            notifyWhenPending.style.display = "block";
        } else {
            notifyWhenPending.style.display = "none";
        }
    }
</script>
</html>