<html>
<head>
<meta charset="UTF-8">
<title>pyMonitor Home</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'monitoring/style.css' %}">
<script type="text/javascript" src="{% static 'monitoring/scripts.js' %}"></script>
</head>
<body onload="startStatusTableWs();">

    <h1>pyMonitor Home</h1>

    <nav id="navbar" class="">
        <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
            <!-- Logo Placeholder for Inlustration -->
            <a href="/monitoring/"><i class="fa fa-angellist"></i> pyMonitor</a>
        </div>
    
        <!-- Navbar Links -->
        <ul id="menu">
            <li><a href="/monitoring/">Home</a></li><!--
        --><li><a href="/monitoring/status">Status Page</a></li><!--
        --><li><a href="/admin">Admin</a></li>
        </ul>
        </div>
    </nav>
</br>

<input type="text" id="filterInput" onkeyup="filterFunction()" placeholder="Filter...">

<table class="statusTable" id="statusTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Ping</th>
            <th>HTTP</th>
            <th>HA</th>
            <th>Group</th>
            <th>Detail</th>
        </tr>            
    </thead>
    <tbody id="statusTableBody">

    </tbody>
</table>

</body>
</html>