<html>
<head>
<meta charset="UTF-8">
<title>pyMonitor Status</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'monitoring/style.css' %}">
<script type="text/javascript" src="{% static 'monitoring/scripts.js' %}"> </script>
</head>
<body onload="startStatusTableWs();">

    <nav id="navbar" class="">
        <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
            <!-- Logo Placeholder for Inlustration -->
            <a href="/monitoring/"><i class="fa fa-angellist"></i> pyMonitor</a>
        </div>
    
        <!-- Navbar Links -->
        <ul id="menu">
            <li><a href="/monitoring/">Home</a></li><!--
        --><li><a href="/monitoring/status">Status Page</a></li><!--
        --><li><a href="/admin">Admin</a></li>
        </ul>
        </div>
    </nav>
    
    <h1>Status Page</h1>
    </br>

    <div class = "userInput">
        <input type="text" id="filterInput" onkeyup="filterFunction()" placeholder="Filter...">
    </div>
    <form method="get" action="/monitoring/new-host">
        <button type="submit" class="addNewButton">Add New</button>
    </form>
    <table class="statusTable" id="statusTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ping</th>
                <th>HTTP</th>
                <th>HA</th>
                <th>Group</th>
                <th>Latency</th>
                <th>Loss</th>
                <th>Ping-Down-Count</th>
                <th>HTTP-Down-Count</th>
                <th>Last Checked</th>
                <th>Detail</th>
            </tr>            
        </thead>
        <tbody id="statusTableBody">

        </tbody>
    </table>


</body>
</html>