<script setup>
  import { RouterLink, RouterView } from 'vue-router'
</script>


<template>
  <div class="flex flex-col h-screen dark:bg-gray-800">
    <header>
    </header>

    <main class="mb-auto">
      <RouterView />
    </main>

    <footer>
    </footer>
  </div>
</template>


<style>

</style>
