@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);



h1 {
  padding-top: 100px;
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

.statusTable {
  text-align: left;
  overflow: hidden;
  width: 98%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  margin-top: 1%
  /* fixed Head */

}

.statusTable td, .statusTable th {
	  padding-bottom: 2%;
	  padding-top: 2%;
    text-align: center; 
    vertical-align: middle;
}

/* Background-color of the odd rows */
.statusTable tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.statusTable tr:nth-child(even) {
	  background-color: #2C3446;
}

.statusTable th {
	  background-color: #1F2739;
    position: sticky; 
    top: 0;
}

.statusTable td:first-child { color: #FB667A; }

.statusTable tr:hover {
  background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
	-moz-box-shadow: 0 6px 6px -6px #0E1119;
	 box-shadow: 0 6px 6px -6px #0E1119;
}

.statusTable td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.statusTable td:nth-child(4),
.statusTable th:nth-child(4) { display: none; }
}

/* -------------------------------------------- 
Navigation BAR CSS
------------------------------------------------ */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
body {
  background: rgb(250, 250, 250) url(http://lorempixel.com/1920/1080/nature/);
  font-family: Lato, Helvetica, Arial, sans-serif;
}
*/
a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}
/* --------- HOST TABLKE --------------- */
.hostTable {
  text-align: center;
  width: 98%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

.hostTable td, .hostTable th {
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: center; 
  vertical-align: middle;
}

.hostTable td:first-child{
  color: #FB667A;
}

/* Background-color of the odd rows */
.hostTable tr:nth-child(odd) {
  background-color: #323C50;
}

/* Background-color of the even rows */
.hostTable tr:nth-child(even) {
  background-color: #2C3446;
}

.spacing {
  background-color: #FB667A;
}


.hostTable input{
  width: 100%;
  box-sizing: border-box;
  background-color: #525d72;
  padding: 2%;
  text-align: center;
  font-size: 20px;
}
/*======================================================
                          Navbar
  ======================================================*/
#navbar {
  background: #1F2739;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 98%;
} @media(max-width: 768px) {
    .nav-wrapper {
      width: 90%;
    }
  } @media(max-width: 638px) {
      .nav-wrapper {
        width: 100%;
      }
    } 


.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 80px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#4DC3FA
  }

#navbar ul {
  display: inline-block;
  float: right;
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
} @media(max-width: 640px) {
    #navbar ul {
      display: none;
    }
  } @media(orientation: landscape) {
      #navbar ul {
        display: inline-block;
      }
    }

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: #A7A1AE;
  display: block;
  font-size: 0.9qem;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before, #navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: rgb(13, 26, 38);
  right: 0;
  /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}


/* -------------------------- Search ---------------- */

#filterInput {
  width: 98%;
  border-radius: 20px;
  background-color: #464A52;
  margin-bottom: 12px;
  margin-left: 1%;
  font-size: 30px;
  padding-top: 30px;
  padding:0 5px;
  padding-left: 2%;
}

#editHostButton {
  color: #1F2739;
  border-color: #1F2739;
  background-color: #FB667A;
  font-size: 20px;
  width: 10%;
  border-radius: 25px;
  height: 2%;
  top: 2%;
  left: 1%;
  position: relative;
}
.deleteHostButton{
  color: #1F2739;
  border-color: #1F2739;
  background-color: #e9112e;
  font-size: 20px;
  width: 10%;
  border-radius: 25px;
  height: 5%;
  left: 50%;
  position: relative;
  margin-top: auto;
}

.submit{
  color: #1F2739;
  background-color: #FB667A;
  font-size: 30px;
  width: 30%;
  border-radius: 25px;
  height: 7%;
  border-color: #1F2739;
  top: 1%;
  left: 5%;
  position: relative;
}

.addNewButton {
  color: #1F2739;
  border-color: #1F2739;
  background-color: #FB667A;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  width: 10%;
  border-radius: 25px;
  height: 5%;
  bottom: 1%;
  left: 1%;
  position: relative;
  
}

.dropdown {
  position: relative;
  width: 98%;
  left: 1%;
  text-align: center;
  background-color: #FB667A;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

